.wh3 {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.kyoucho {
	FONT-WEIGHT: 400; FONT-SIZE: 12px; COLOR: #0000ff; LINE-HEIGHT: 18px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"; TEXT-DECORATION: underline
}
.large {
	FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.compact {
	FONT-SIZE: 10px; COLOR: #666666; LINE-HEIGHT: 18px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.large_blue {
	FONT-SIZE: 14px; COLOR: #6633ff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.large_red {
	FONT-SIZE: 14px; COLOR: #ff0000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_uline {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"; TEXT-DECORATION: underline
}
.large_green {
	FONT-SIZE: 14px; COLOR: #006600; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_blue {
	FONT-SIZE: 12px; COLOR: #6699ff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_green {
	FONT-SIZE: 12px; COLOR: #006600; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"; TEXT-DECORATION: underline
}
.mormal_red {
	FONT-SIZE: 12px; COLOR: #FF6633; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_wide {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 18px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_blue_wide {
	FONT-SIZE: 12px; COLOR: #3300cc; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.large_green_wide {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #006600; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_small__blue {
	FONT-SIZE: 10px; COLOR: #6666ff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.morma_large {
	FONT-SIZE: 14px; COLOR: #666666; LINE-HEIGHT: normal; FONT-STYLE: normal
}
.mormal_samll {
	FONT-SIZE: 10px; COLOR: #666666; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_very_small__blue {
	FONT-SIZE: 10px; COLOR: #0000cc; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.large_white {
	FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_green_no_line {
	FONT-SIZE: 12px; COLOR: #006600; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_samll_red {
	FONT-SIZE: 10px; COLOR: #cc0000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.large_green_U {
	FONT-SIZE: 14px; COLOR: #006600; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"; TEXT-DECORATION: underline
}
.mormal_yellow {
	FONT-SIZE: 12px; COLOR: #ff6600; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.normal_yellow_bol {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffff99; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_small_green {
	FONT-SIZE: 10px; COLOR: #006600; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_white {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_very_small__blue_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #6699ff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.morma_large2 {
	FONT-SIZE: 16px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_miduam {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_blue2 {
	FONT-SIZE: 12px; COLOR: #6666ff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.miduam_yellow {
	FONT-SIZE: 11px; COLOR: #336600; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.normal_brown {
	FONT-SIZE: 12px; COLOR: #ff9900; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.normal_small_brown {
	FONT-SIZE: 10px; COLOR: #ff9900; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_green2 {
	FONT-SIZE: 12px; COLOR: #009900; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_samll2 {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_white_samll2 {
	FONT-SIZE: 9px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal
}
.mormal_yellow_samll2 {
	FONT-SIZE: 12px; COLOR: #ffff33; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_blue3 {
	FONT-SIZE: 12px; COLOR: #ccffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_small_blue3 {
	FONT-SIZE: 10px; COLOR: #ccffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_uline {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.aBOLD_white12 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"
}
.mormal_Red_wide {
	FONT-SIZE: 12px; COLOR: #ff3366; LINE-HEIGHT: 18px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormal_blue4 { FONT-SIZE: 12px; COLOR: #9999FF; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka" }
.normal_brown3 { FONT-SIZE: 12px; COLOR: #FF6699; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka" }
.mormal_blue2BOLD { FONT-SIZE: 12px; COLOR: #6666ff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka" ; font-weight: bold}
.mormal_whiteBOLD { FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka" ; font-weight: bold}
.bn21 {
	font-size: 11px;
	color: #6666FF;
	font-family: "ＭＳ ゴシック", "Osaka－等幅";
}
.mormal_blue4BOLD { FONT-SIZE: 12px; COLOR: #9999FF; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "｣ﾍ｣ﾓ ｣ﾐ･ｴ･ｷ･ﾃ･ｯ", "Osaka" ; font-weight: bold}
.normal_brown2 { FONT-SIZE: 12px; COLOR: #CC3300; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka" }
.mormal_whiteSmall { FONT-SIZE: 10px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal}
.mormal_blue1 { FONT-SIZE: 12px; COLOR: #0066CC; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka" }
.normalbrown1 {

	FONT-SIZE: 12px; COLOR: #cc6666; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormalWide2 {

	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormalBlue10 {
FONT-SIZE: 14px; COLOR: #0066CC; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormalWhite14 {

	FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormalTd01 {

	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormalWideMs {

	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 18px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.normalBrown4 {
FONT-SIZE: 11px; COLOR: #CC3366; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormalLarge14 {

	FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal
}
.normalyellow14 {

	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffff99; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormalD {

	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.red01 {
	font-size: 12px;
	color: #CC6666;
}
.mormalarge3 {

	FONT-SIZE: 14px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal
}
.mormalwideD {

	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 18px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.YellowFFCC33 {


	FONT-SIZE: 12px; COLOR: #FFCC33; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormalBlue12 {

FONT-SIZE: 12px; COLOR: #0033CC; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.normalBrown3 {

FONT-SIZE: 12px; COLOR: #CC3366; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.blue000099s12 {
	font-size: 12px;
	color: #000099;
}
.normalD {


	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.small10PT333333 {

	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.white10PT {

	FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal
}
.red11PT {


	FONT-SIZE: 11px; COLOR: #CC0000; LINE-HEIGHT: normal; FONT-STYLE: normal
}
.Green12-a {

	FONT-SIZE: 12px; COLOR: #669933; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.Green12-b {


	FONT-SIZE: 12px; COLOR: #336600; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.Gray11Wide {

	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 17px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ ゴシック", "Osaka－等幅"
}
.Green12-aWide {


	FONT-SIZE: 12px; COLOR: #669933; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.blue12Wide {
FONT-SIZE: 12px; COLOR: #003399; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.GrayB12Wide {


	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.Green12BWide {



	FONT-SIZE: 12px; COLOR: #336600; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.blueAwide {
FONT-SIZE: 12px; COLOR: #0066CC; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.greenB12Wide {

	FONT-SIZE: 12px; COLOR: #009900; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.blueBwide {

FONT-SIZE: 12px; COLOR: #3333FF; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.red02 {

	font-size: 10px;
	color: #CC6666;
}
.blue02 {

	font-size: 10px;
	color: #000099;
}
.blue12Widelight {

FONT-SIZE: 12px; COLOR: #3366CC; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.GrayB12WideWide {



	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 18px; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ Ｐゴシック", "Osaka"
}
.mormalBlueNP14 {
FONT-SIZE: 14px; COLOR: #0066CC; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ ゴシック", "Osaka－等幅"
}
.mormalBlueNP12 {

FONT-SIZE: 12px; COLOR: #0066CC; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "ＭＳ ゴシック", "Osaka－等幅"
}



ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p{
  margin: 0;
}
.wrap-tab{
  overflow: hidden;
}

.list-tab{
  display: flex;
  margin: 0 -2px;
  border-bottom: 3px solid #5bbee5;
}
.list-tab > li{
  display: block;
  padding: 0.5em 1em;
  margin: 0 2px;
  width: 100%;
  color: #fff;
  text-align: center;
  background: #ccc;
  box-sizing: border-box;
  cursor: pointer;
}

.list-tab .active{
  background: #5bbee5;
}

.tab-content{
  display: none;
  padding: 1em;
  border-bottom: 1px solid #5bbee5;
  border-left: 1px solid #5bbee5;
  border-right: 1px solid #5bbee5;
}
.tab-content.active{
  display: block;
}

